{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "50m",
    "max-file": "3"
  },
  "storage-driver": "overlay2",
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Hard": 65536,
      "Soft": 65536
    }
  }{% if inventory_hostname in groups['runners'] %},
  "insecure-registries": ["{{ hostvars['controlplane']['ansible_host'] }}:{{ registry_port }}"]
{% endif %}

}
